<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Test page for Link Ownership</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/main.js"></script>
</head>
<body>
  <h2>404</h2>
</body>
</html>
