<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Test page for Link Ownership</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" /> 
</head>
<body>
  <h2>Deep linking test</h2>

  <a href="uat://">Click me for base</a>
  <a href="uat://ad2?callback_url={{{callback}}}">Click me for ad2</a>
</body>
</html>
