<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Test page for Link Ownership with DPS</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" /> 
</head>
<body>
  <h2>Test with DPS callback</h2> 
<div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//localhost.trib.al/dps_callback"/>
</div>
</body>
</html>
